.modal {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.144);
    backdrop-filter: blur(2px);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    position: relative;
    overflow: auto;
}

.content::-webkit-scrollbar {
    width: 9px;
}

.content::-webkit-scrollbar-thumb {
    background-color: rgb(173, 171, 171);
    border: 1px solid rgb(106, 106, 106);
    border-radius: 10px;
}